<div class="modal hide fade" id="edit_password">
  <%= simple_form_for(:user, url: current_user_change_password_url, html: {method: :put, class: 'form-horizontal'}) do |f| %>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%= t('general.actions.user_profile.edit_password') %></h3>
  </div>
  <div class="modal-body">
    <%= f.input :password,  input_html: {class: 'span3'}, label: t('devise.passwords.edit.password_label') %>
    <%= f.input :password_confirmation, input_html: {class: 'span3'}, label: t('devise.passwords.edit.password_confirmation_label') %>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-primary', value: t('devise.passwords.edit.submit') %>
    <%= link_to(t('general.actions.cancel'), 'javascript:;', class: 'btn', onclick: '$("#edit_password").modal("hide")') %>
  </div>
  <% end %>
</div>